/* General Container */
.container {
    padding: 20px 40px;
    background-color: #f8f9fa;
    color: #021526;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrapper {
    width: 100%;
    max-width: 500px;
    background-color: #e9eed9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Actions */
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #527853;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #3b5d3e;
  }
  
  /* Form */
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #527853;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submitButton {
    background-color: #68b845;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #4c8e34;
  }
  
  /* Errors */
  .errorBox {
    color: red;
    background-color: #ffecec;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffa1a1;
  }
  
  .errorBox ul {
    padding-left: 20px;
    margin: 0;
  }
  
  .errorBox li {
    list-style-type: disc;
  }
  
  /* Loading */
  .loading {
    text-align: center;
    font-size: 2rem;
    color: #68b845;
  }
  .deleteButtonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.deleteButton {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
}

.deleteButton:hover {
    background-color: #c0392b;
}

.deleteButton:active {
    background-color: #a93226;
}
